<?xml version="1.0" encoding="windows-1252" ?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="trips-ejb-module" transaction-type="JTA" >
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <jta-data-source>jdbc/TripsDBConnectionDS</jta-data-source>
        <properties>
            <property name="eclipselink.target-server" value="WebLogic" />
            <property name="eclipselink.logging.level" value="WARNING" />
            <property name="eclipselink.target-database" value="Oracle" />
            <property name="eclipselink.logging.parameters" value="true" />
            <property name="eclipselink.logging.logger" value="org.eclipse.persistence.logging.DefaultSessionLog" />
            <property name="eclipselink.validate-existence" value="true"/>
			
            <property name="eclipselink.session.customizer" value="com.technobrain.trips.core.toplinkconfiguration.TripsSessionCustomizer"/>
			
        </properties>
    </persistence-unit>
</persistence>
